.header a{
    text-decoration: none;
    margin-right: 10px;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}

.header a:hover{
    color:brown;
    
}

.active{
    color:red;
    background-color: blueviolet;
}